__pycache__
*.egg-info
.ruff_cache

build
wheels
dist
output
test-output
*.o
*.so
*.a
*.gch

src/numerobis/runtime/numerobis
bdwgc/
tests/benchmarking/out
highlighting/numerobis-vscode/numerobis-*.vsix

notes/
test.py
